Flask==0.10.1
Flask-Login==0.2.11
Flask-RESTful==0.2.12
Flask-SQLAlchemy==1.0
Jinja2==2.7.2
Mako==1.0.0
MarkupSafe==0.23
PyMySQL==0.6.2
SQLAlchemy==0.9.4
Werkzeug==0.9.4
alembic==0.6.5
aniso8601==0.83
itsdangerous==0.24
--allow-external mysql-connector-python
mysql-connector-python==1.2.2
pep8==1.5.7
pytz==2014.7
six==1.8.0
