<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="IdeaBin Website">
    <meta name="author" href="humans.txt">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/picard-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}IdeaBin{% endblock %}</title>
  </head>
  <body>

  <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">IdeaBin</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-left form-inline" id="search" role="search">
            <div class="form-group-group">
              <div class="input-group" style="width: 500px">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </div> <!-- END form group div -->
          </form> <!-- END search bar form -->
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <button type="button" class="btn btn-default">Sign In</button>
            </div>
          </form>

          <ul class="nav navbar-nav">
            <li>
              <a href="#">Explore</a>
            </li>
            <li>
              <a href="#">Features</a>
            </li>
            <li>
              <a href="#">Enterprise</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
          </ul>
      </div>
     </div>
  </div>

    {%- block content %}
    {% endblock -%}
    {%- block  footer %}

    <div class="footer top-buffer">
      <div class="container">
        <ul class="list-inline">
          <li><a href="/">Terms</a></li>
          <li><a href="/">Privacy</a></li>
          <li><a href="/">Security</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </div>
    </div>

    {% endblock -%}
    {%- block scripts %}

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock -%}
  </body>
</html>
