<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="IdeaBin Website">
  <meta name="author" href="humans.txt">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>{% block title %}IdeaBin{% endblock %}</title>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">IdeaBin</a>
      </div>
      <div class="navbar-collapse collapse">

        <form class="navbar-form navbar-left form-inline" id="search" role="search">
          <div class="form-group">
            <input type="text" class="form-control" style="width: 350px" placeholder="Search">
          </div>
        </form>

        {% if request.path != "/login/"%}
        <form class="navbar-form navbar-right" role="form">
          <div class="form-group">
            {% if not current_user or current_user.is_anonymous() %}
              <a href="/login/" class="btn btn-default">Sign in</a>
            {% else %}
              <a href="/logout/" class="btn btn-default">Sign out</a>
            {% endif %}
          </div>
        </form>
        {% endif %}

        <ul class="nav navbar-nav">
          <li>
            <a href="#">Explore</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="container">
    <div class="row col-md-6 col-md-offset-3" style="margin-top: 30px; margin-bottom: -30px;">
      <div id="flash" class="alert alert-info">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %} {% endwith %}
  {% block content %} {% endblock %}
  {% block  footer %}
  <div class="footer">
    <div class="container">
      <ul class="list-inline">
        <li><a href="/">Contact Us</a></li>
      </ul>
    </div>
  </div>

  {% endblock %}

  {% block scripts %}
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  {% endblock %}

  {% block script %}
  {% endblock %}
</body>
</html>
