<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="IdeaBin Website">
  <meta name="author" href="humans.txt">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>{% block title %}IdeaBin{% endblock %}</title>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">IdeaBin</a>
      </div>

      <div class="navbar-collapse collapse">
        <form class="navbar-form navbar-left form-inline" id="search" role="search">
          <div class="form-group">
            <input type="text" class="form-control" style="width: 350px" placeholder="Search">
          </div>
        </form>

        <ul class="nav navbar-nav">
          <li> <a href="{{ url_for('frontend.explore') }}">Explore</a> </li>
          <li> <a href="{{ url_for('frontend.add') }}">Post an Idea</a> </li>
        </ul>

        {% if request.path != "/login/"%}
        <ul class="nav navbar-nav navbar-right">
          {% if not current_user or current_user.is_anonymous() %}
          <form class="navbar-form">
            <a href="{{ url_for('login.index') }}" class="btn btn-default">Sign in</a>
          </form>
          {% else %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ current_user.username }} <span class="caret"></span> </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('frontend.profile') }}">Profile</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('logout.index') }}">Sign out</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>

  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="container">
    <div class="row col-md-6 col-md-offset-3" style="margin-top: 30px; margin-bottom: -30px;">
      <div id="flash" class="alert alert-info">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %} {% endwith %}
  {% block content %} {% endblock %}
  {% block  footer %}
  <div class="footer">
    <div class="container">
      <ul class="list-inline">
        <li><a href="/">About Us</a></li>
      </ul>
    </div>
  </div>

  {% endblock %}

  {% block scripts %}
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  {% endblock %}

  {% block script %}
  <script>
    // http://stackoverflow.com/a/1186309/2043048
    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    </script>
  {% endblock %}
</body>
</html>
