{% extends 'base.html' %}
{% block content %}
  <div class="container">
    {% if ideas %}
    <div id="ideas" class="col-md-8 col-md-offset-2">
      {% for idea in ideas %}
      <div class="row">
        <a href="/i/{{ idea.idea_id }}">{{ idea.title }}</a>

        <div class="info">
          <div class="pull-left"><p>by <a href="/u/{{ idea.user.username }}">{{ idea.user.username }}</a></p></div>
          <div class="pull-right"><p>{{ idea.created_on.strftime('%a, %d %b') }}</p></div>
        </div>

        <div class="content">
          <p>{{ idea.desc_md | truncate(250) }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="col-md-offset-4 col-md-8 col-xs-10 col-xs-offset-2">
      <h1 style="margin: 50px 0;">No ideas found!</h1>
      <i class="fa fa-frown-o" style="margin-left: 50px;font-size: 200px;"></i>
    </div>
    {% endif %}
  </div>
{% endblock %}
