{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div id="ideas" class="col-md-8 col-md-offset-2">
      <div class="row">
        <a href="/i/1">What would be size of multi-factor authentication market globally?</a>
        <div class="info">
          <p class="pull-left">by <a href="/u/dufferzafar">Shadab Zafar</a></p>
          <p class="pull-right">Saturday</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptas itaque non minus rerum, laborum dolorum perferendis similique rem.</p>
      </div>

      <div class="row">
        <a href="/i/1">Has anyone benefited tangibly from answering on Quora?</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptas itaque non minus rerum, laborum dolorum perferendis similique rem.</p>
      </div>

      <div class="row">
        <a href="/i/1">What is the general internet etiquette on cross-posting your material?</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptas itaque non minus rerum, laborum dolorum perferendis similique rem.</p>
      </div>

      <div class="row">
        <a href="/i/1">What can I learn right now in just 10 minutes that could be useful for the rest of my life?</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptas itaque non minus rerum, laborum dolorum perferendis similique rem.</p>
      </div>

      <div class="row">
        <a href="/i/1">Should Indian Muslims be seriously worried about the rise of a 'Hindu extremist' like Narendra Modi who is responsible for the genocide of Muslims?</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptas itaque non minus rerum, laborum dolorum perferendis similique rem.</p>
      </div>

    </div>
  </div>
{% endblock %}
