{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="col-md-8" style="margin-top: 20px;">
    <div class="row">
      <h1>{{ idea.title }}</h1>
      <p class="text-muted" style="margin: 25px 0;">
        by <a href="/u/{{ idea.user.username }}">{{ idea.user.username }}</a>
        on {{ idea.created_on.strftime('%a, %d %b') }}
      </p>
      <p>{{ idea.desc_html | safe}}</p>
      <hr/>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-1" style="margin-top: 50px;">
    {% if current_user.is_authenticated() %}
      {% if current_user.username != idea.user.username %}
      <div class="row">
        <!-- Todo: Unvote button. Github like toggle state? -->
        <button id="vote" class="btn btn-default pull-left"> <i class="fa fa-thumbs-o-up"></i>   Vote | {{ idea.vote_count }}</button>
        <button id="subscribe" class="btn btn-success pull-right"> <i class="fa fa-flag"></i>    Subscribe</button>
      </div>
        <hr>
      {% endif %}
    {% endif %}

    <div class="row">
      <textarea id="tags" class="form-control" rows="4" placeholder="Tags" disabled="true"></textarea>
    </div>
      <hr>

    {% if current_user.is_authenticated() %}
      {% if current_user.username == idea.user.username %}
        <div class="row">
          <button id="edit" class="btn btn-default pull-left" href="/edit/"> <i class="fa fa-pencil-square-o fa"></i>   Edit</button>
          <button id="delete" class="btn btn-danger pull-right"> <i class="fa fa-times fa"></i>    Delete</button>
        </div>
          <hr>
      {% endif %}
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="col-md-8">
    {% for comment in comments %}
      <div class="row comment">
        <p class="text-muted"><a href="/u/{{ comment.user.username }}">{{ comment.user.username }}</a> on {{ comment.created_on.strftime('%a, %d %b') }} </p>
        <div class="content">{{ comment.desc_html | safe }}</div>
        <hr>
      </div>
    {% endfor %}
    {% if current_user.is_authenticated() %}
      {% block script %}
        {{ super() }}
        <script>
          $(document).ready(function()
          {
            $('#vote').click(function(e)
            {
              $.ajax({
                type: "POST",
                url: "/api/1/ideas/{{ idea.idea_id }}/vote/",
                success: function(data, tStatus)
                {
                  $('#vote').text('Vote | ' + data.vote_count)
                },
                error:function(jqXHR, tStatus, errorThrown)
                {
                  data = JSON.parse(jqXHR.responseText);
                  console.log(data);
                }
              });
            return e.preventDefault();
            });

            $('#edit').click(function(e)
            {
              $.ajax({
                type: "PUT",
                url: "/api/1/ideas/{{ idea.idea_id }}/",
                success: function(data, tStatus)
                {
                  // todo: edit the idea
                }
                error: function(jqXHR, tStatus, errorThrown)
                {
                  data = JSON.parse(jqXHR.responseText);
                  console.log(data);
                }
              });
              return e.preventDefault();
            });

            $('#commentForm').submit(function(e)
            {
              $.ajax({
                type: "POST",
                url: "/api/1/ideas/{{ idea.idea_id }}/comments/",
                data: JSON.stringify($("#commentForm").serializeObject()),
                contentType: "application/json",
                success: function(data, tStatus)
                {
                  // Todo: Append the comment to DOM rather than reloading the page.
                  location.reload(false);
                },
                error:function(jqXHR, tStatus, errorThrown)
                {
                  data = JSON.parse(jqXHR.responseText);
                  console.log(data);
                }
              });
              return e.preventDefault();
            });

          });
        </script>
      {% endblock %}
    <form id="commentForm" role="form" method="post">
    <div class="row">
      <div class="col-md-10 pull-left">
        <textarea name="desc" rows="2" class="form-control" placeholder="Post a comment"></textarea>
      </div>
      <div class="col-md-2 pull-right">
        <button class="btn btn-success form-control"> Submit </button>
      </div>
    </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
