{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row col-md-4 col-md-offset-4" style="margin-top:50px;">
      <form class="form-signin" role="form" method="post">
        <h2>Sign in</h2>
        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name="password" class="form-control" style="margin-top:10px" placeholder="Password" required>

        <button style="margin-top: 10px; margin-bottom:200px;" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
  </div>
{% endblock %}
