{% extends 'base.html' %}
{% block script %}
  {{ super() }}
  <script>
    $(document).ready(function()
    {
      $('#profileForm').submit(function(e)
      {
        $.ajax({
          type: "PUT",
          url: "/api/1/users/{{ user.user_id }}",
          data: JSON.stringify($("#profileForm").serializeObject()),
          contentType: "application/json",
          // Todo: (9) Display errors with Bootstrap Popovers (and success?)
          success: function(data, tStatus)
          {
            location.reload(false);
          },
          error:function(jqXHR, tStatus, errorThrown)
          {
            data = JSON.parse(jqXHR.responseText);
            console.log(data);
          }
        });

        return e.preventDefault();
      });
    });
  </script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group" style="margin-top: 50px; margin-bottom: 30px;">
      <h3>Edit Profile</h3>
    </div>

    <form id="profileForm" role="form" type="post">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input value="{{ user.first_name }}" type="text" name="first_name" class="form-control" placeholder="First Name">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input value="{{ user.last_name }}" type="text" name="last_name" class="form-control " placeholder="Last Name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
              <input value="{{ user.username }}" name="username" class="form-control" type="text" placeholder="Username" disabled="true">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
          <input value="{{ user.email }}" name="email" class="form-control" type="text" placeholder="Email address" disabled="true">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-github fa-fw"></i></span>
          <input value="{{ user.blog_url }}" name="blog_url" class="form-control" type="text" placeholder="Blog URL">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-github fa-fw"></i></span>
          <input value="{{ user.github_url }}" name="github_url" class="form-control" type="text" placeholder="Github">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-facebook fa-fw"></i></span>
          <input value="{{ user.facebook_url }}" name="facebook_url" class="form-control" type="text" placeholder="Facebook">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-twitter fa-fw"></i></span>
          <input value="{{ user.twitter_url }}" name="twitter_url" class="form-control" type="text" placeholder="Twitter">
        </div>
      </div>

      <input type="submit" value="Submit" class="btn btn-info btn-block">
    </form>
    </div>
  </div>
</div>

{% endblock %}
