{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="col-md-3">
    <div class="row text-center" style="margin-top: 30px;">
      <h2 style="margin-bottom: 50px;">{{ tag.tagname | title }}</h2>
      <!-- Todo: Edit tag name and description -->
      <p>{{ tag.desc | safe}}</p>
      {% if current_user.is_authenticated() %}
      <button id="subscribe" class="btn btn-success">{% if current_user.user_id | string in tag.subscribers %}Unsubscribe{% else %}Subscribe{% endif %}</button>
      {% if current_user.is_admin() %}
      <button id="delete" class="btn btn-danger pull-right"> <i class="fa fa-times fa"></i>    Delete</button>
      {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="col-md-8 col-md-offset-1">
    <div class="row" style="margin-top: 30px;">
      <h3>Latest Ideas</h3>
      <hr>
    </div>
    <div id="ideas">
      {% for idea in ideas %}
      <div class="row">
        <a href="/i/{{ idea.idea_id }}">{{ idea.title | truncate(55) }}</a>
        <div class="pull-right"><p>{{ idea.created_on.strftime('%a, %d %b') }}</p></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% if current_user.is_authenticated() %}
  {% block script %}
    {{ super() }}
    <script>
      $('#subscribe').click(function(e)
      {
        $.ajax({
          type: "POST",
          url: "/api/1/tags/{{ tag.tag_id }}/subscribe/",
          success: function(data, tStatus)
          {
            $('#subscribe').text(function(i, text) {
              return text === "Subscribe" ? "Unsubscribe" : "Subscribe";
            });
          },
          error:function(jqXHR, tStatus, errorThrown)
          {
            data = JSON.parse(jqXHR.responseText);
            console.log(data);
          }
        });
      return e.preventDefault();
      });

      $('#delete').click(function(e)
      {
        $.ajax({
          type: "DELETE",
          url: "/api/1/tags/{{ tag.tagname }}",
          success: function(data, tStatus)
          {
            window.location = "{{ url_for('frontend.explore') }}";
          },
          error:function(jqXHR, tStatus, errorThrown)
          {
            data = JSON.parse(jqXHR.responseText);
            console.log(data);
          }
        });
      return e.preventDefault();
      });
    </script>
  {% endblock %}
{% endif %}
