{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="col-md-3">
    <div class="row text-center" style="margin-top: 50px; margin-bottom: 140px;">
      <div class="img-responsive">
        <img src="https://secure.gravatar.com/avatar/22bd03ace6f176bfe0c593650bcf45dsd">
      </div>

      <h4>{{ user.username }}</h4>

      <ul class="list-inline" style="margin: 35px 0;">
        <li><a href="{{ user.blog_url }}"><i class="fa fa-github fa-3x"></i></a></li>
        <li style="margin: 0 30px;"><a href="{{ user.profile_fb }}"><i class="fa fa-facebook fa-3x"></i></a></li>
        <li><a href="{{ user.profile_twitter }}"><i class="fa fa-twitter fa-3x"></i></a></li>
      </ul>

      <a class="btn btn-success" href="#"><i class="fa fa-flag"></i>       Subscribe</a>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-1">
    <div class="row" style="margin-top: 30px;">
      <h3>Latest Activity</h3>
      <hr>
    </div>
    <div class="row">
      <h2>Title of the Idea</h2>
      <p>Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.</p>
      <hr>
    </div>
  </div>
</div>
{% endblock %}
