{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="col-md-3">
    <div class="row text-center" style="margin-top: 50px; margin-bottom: 140px;">
      <div class="img-responsive">
        <img src="{{ user.avatar | safe }}">
      </div>

      <h4 style="margin: 25px 0;">{{ user.username }}</h4>

      <ul class="list-inline" style="margin: 35px 0;">
        <li style="margin-right: 30px;"><a href="{{ user.blog_url }}"><i class="fa  fa-comments-o fa-3x"></i></a></li>
        <li><a href="{{ user.github_url }}"><i class="fa fa-github fa-3x"></i></a></li>
        <li style="margin: 0 30px;"><a href="{{ user.facebook_url }}"><i class="fa fa-facebook fa-3x"></i></a></li>
        <li><a href="{{ user.twitter_url }}"><i class="fa fa-twitter fa-3x"></i></a></li>
      </ul>

      <a class="btn btn-success" href="#"><i class="fa fa-flag"></i>       Subscribe</a>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-1">
    <div class="row" style="margin-top: 30px;">
      <h3>Latest Ideas</h3>
      <hr>
    </div>
    <div id="ideas">
      {% for idea in ideas %}
      <div class="row">
        <a href="/i/{{ idea.idea_id }}">{{ idea.title | truncate(55) }}</a>
        <div class="pull-right"><p>{{ idea.created_on.strftime('%a, %d %b') }}</p></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
